<!DOCTYPE html>
<html lang="zh_CN">

<head>

    <meta charset="UTF-8">

    <title>Web Watcher</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="theme-color" content="#363d4c">

    <!-- import CSS -->
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div id="app">
        
        <h1>Web Watcher</h1>

        <template v-if="loggedIn">
            <el-table :data="data" style="width: 100%">
                    
                <el-table-column
                    fixed
                    label="State"
                    width="80"
                >
                    <template slot-scope="scope">
                        <el-tag 
                            :type="scope.row.running ? 'success' : 'warning'"
                            size="mini"
                        >
                            {{ scope.row.running ? 'Running' : 'Stop' }}
                        </el-tag>
                    </template>
                </el-table-column>
                <el-table-column label="Url" width="300">
                    <template slot-scope="scope">
                        <el-input placeholder="URL" v-model="scope.row.url" size="mini"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Selector" width="200">
                    <template slot-scope="scope">
                        <el-input placeholder="Selector" v-model="scope.row.selector" size="mini"></el-input>
                    </template>
                </el-table-column>
                <el-table-column label="Parse JS" width="100">
                    <template slot-scope="scope">
                        <el-checkbox v-model="scope.row.parseJs"></el-checkbox>
                    </template>
                </el-table-column>
                <el-table-column prop="intervel" label="Intervel (ms)" width="200">
                    <template slot-scope="scope">
                        <el-input-number size="mini" v-model="scope.row.intervel" step="1000"></el-input-number>
                    </template>
                </el-table-column>
                <el-table-column prop="email" label="Email" width="200">
                    <template slot-scope="scope">
                        <el-input placeholder="Email" v-model="scope.row.email" size="mini"></el-input>
                    </template>
                </el-table-column>
                <el-table-column prop="webhook" label="Webhook" width="200">
                    <template slot-scope="scope">
                        <el-input placeholder="Webhook" v-model="scope.row.webhook" size="mini"></el-input>
                    </template>
                </el-table-column>
                <el-table-column fixed="right" label="Operations" width="300">
                    <template slot-scope="scope">
                        <el-button @click="toggleState(scope.row.id, scope.row)" type="primary" size="small" round>
                            {{ scope.row.running ? 'Stop' : 'Start' }}
                        </el-button>
                        <el-button @click="save(scope.row.id, scope.row)" type="primary" size="small" round>Save</el-button>
                        <el-button @click="remove(scope.row.id, scope.row)" type="danger" size="small" round>Remove</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <br>
            <section class="addNew">
                <el-input placeholder="URL" v-model="url" size="mini"></el-input>
                <el-input placeholder="Selector" v-model="selector" size="mini"></el-input>
                <el-checkbox v-model="parseJs" size="mini">Parse JS</el-checkbox>
                <el-input-number size="mini" v-model="intervel" step="1000"></el-input-number>
                <el-input placeholder="Email" v-model="email" size="mini"></el-input>
                <el-input placeholder="Webhook" v-model="webhook" size="mini"></el-input>
                <el-button type="success" round @click="add" size="mini">Add</el-button>
            </section>
            <br>
            <div class="control">
                <el-button type="success" @click="saveAll" round>Save</el-button>
            </div>
        </template>
        <template v-else>
            <form class="login" @submit="login($event)">
                <el-input placeholder="Username" v-model="user.username"></el-input>
                <el-input placeholder="Password" type="password" v-model="user.password"></el-input>
                <el-input type="submit" value="Login"></el-button>
            </form>
        </template>
    </div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="https://cdn.bootcss.com/axios/0.17.1/axios.js"></script>
<script src="/static/index.js"></script>

</body>

</html>