<!DOCTYPE html>
<html lang="zh_CN">

<head>

    <meta charset="UTF-8">

    <title>Web Watcher</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="Cache-Control" content="no-siteapp">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <meta name="theme-color" content="#363d4c">

    <!-- import CSS -->
    <link href="https://cdn.bootcss.com/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        #app {
        }
        h1 {
            text-align: center;
            color: #409EFF;
            margin: 80px;
        }
        .addNew .el-row {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .addNew .el-row > .el-input,
        .addNew .el-row > .el-checkbox {
            padding: 0 5px;
        }
        .control {
            text-align: center;
        }
    </style>
</head>

<body>

    <div id="app">
        

        <el-menu
            :default-active="activeIndex2"
            class="el-menu-demo"
            mode="horizontal"
            @select="handleSelect">
            <el-menu-item index="1">Processing Center</el-menu-item>
                <el-submenu index="2">
                <template slot="title">Workspace</template>
                <el-menu-item index="2-1">item one</el-menu-item>
                <el-menu-item index="2-2">item two</el-menu-item>
                <el-menu-item index="2-3">item three</el-menu-item>
            </el-submenu>
            <el-menu-item index="3"><a href="https://www.ele.me" target="_blank">Orders</a></el-menu-item>
        </el-menu>


        <el-table :data="data" style="width: 100%">
            <el-table-column prop="url" label="Url" width="380">
            </el-table-column>
            <el-table-column prop="selector" label="Selector" width="360">
            </el-table-column>
            <el-table-column prop="parseJs ? 'True' : 'False'" label="Parse JS" width="100">
            </el-table-column>
            <el-table-column fixed="right" label="Operations" width="120">
                <template slot-scope="scope">
                    <el-button @click="handleClick" type="danger" size="small" round>Remove</el-button>
                </template>
            </el-table-column>
        </el-table>
        <br>
        <section class="addNew">
            <el-row>
                <el-input placeholder="Url" v-model="url"></el-input>
                <el-input placeholder="Selector" v-model="selector"></el-input>
                <el-checkbox v-model="parseJs">Parse JS</el-checkbox>
                <el-button type="success" round @click="add">Add</el-button>
            </el-row>
        </section>
        <br>
        <div class="control">
            <el-button type="success" round>Save</el-button>
        </div>
    </div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                data: null,
                url: '',
                selector: '',
                parseJs: ''
            }
        },
        methods: {
            save: function () {
                // fetch('/list', {
                //     method: "POST",
                //     headers: {
                //         "Content-Type": "text/plain"
                //     },
                //     body: JSON.stringify(this.data)
                // }).then(res => res.json()).then(data => this.data = data);
            },
            add: function () {
                if (
                    !this.url ||
                    !this.selector
                ) {
                    this.$message.error('URL or selector cannot be empty.');
                    return;
                }
                this.data.push({
                    url: this.url,
                    selector: this.selector,
                    parseJs: this.parseJs
                });
                this.url = '';
                this.selector = '';
                this.parseJs = false;
                this.save();
            }
        },
        created: function () {
            fetch('/list').then(res => res.json()).then(data => this.data = data);
        }
    })
</script>

</body>

</html>